<h3>Welcome to E-Proc Alpha!</h3>

<p>Καλωσήρθατε στην πλατφόρμα E-Proc. Εάν είστε διαπιστευμένο μέλος μπορείτε να κάνετε Sign In και να εισάγετε νέες προκυρήξεις διαγωνισμών και προϊόντα.</p>
<p>Εάν δεν είστε μέλος μπορείτε να δείτε τις τρέχουσες προκυρήξεις από τους συνδέσμους.</p>
<p>Αν θέλετε να υποβάλλετε προσφορά για κάποιο διαγωνισμό θα πρέπει να κάνετε Sign Up.</p>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
