%h3 Welcome to E-Proc Alpha!
%p Καλωσήρθατε στην πλατφόρμα E-Proc. Εάν είστε διαπιστευμένο μέλος μπορείτε να κάνετε Sign In και να εισάγετε νέες προκυρήξεις διαγωνισμών και προϊόντα.
%p Εάν δεν είστε μέλος μπορείτε να δείτε τις τρέχουσες προκυρήξεις από τους συνδέσμους.
%p Αν θέλετε να υποβάλλετε προσφορά για κάποιο διαγωνισμό θα πρέπει να κάνετε Sign Up.
%p
  = link_to 'Users:', users_path
  = User.count
  registered
