%tr#row0.nested-fields{"data-id" => "0"}
  %td{"data-name" => "product"}
    = f.input_field :product_id,
                    collection: @products,
                    value_method: :id,
                    label_method: :name,
                    include_blank: true,
                    class: 'form-control',
                    label: false
  %td{"data-name" => "quantity"}
    = f.input_field :quantity,
                    class: 'form-control',
                    size: 4,
                    label: false
  %td{"data-name" => "reqs"}
    = f.input_field :requirements,
                    class: 'form-control',
                    label: false
  %td{"data-name" => "del"}
    = link_to_remove_association "Remove Product",
                                  f,
                                  class: 'btn btn-default btn-sm'