%h1
  Λίστα Προκυρήξεων
  .rss.pull-right
    = link_to image_tag("glyphicons_social_37_rss.png"),
                        procurements_url(format: :atom)
- @procurements.each do |procurement|
  %li
    .panel.panel-default
      / Default panel contents
      .panel-heading
        Διαγωνισμός: #{procurement.id}ος
      .panel-body
        %div
          Τίτλος: #{procurement.name}
        %div
          = link_to "Διαβάστε περισσότερα..",
                    procurement_path(procurement)
