<h1>Listing procurements</h1>

<% @procurements.each do |procurement| %>
  <li>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Διαγωνισμός: <%= procurement.id %>ος</div>
    <div class="panel-body">
      <div>Title: <%= procurement.name %></div>
      <div><%= link_to "More..", procurement_path(procurement) %> </div>
  </div>
  </li>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'New Procurement', new_procurement_path %>
<% end %>