%h1 TenderNotifications#procurement_changed

\#{@greeting} #{@recipient},
%p
  Η Προκύρηξη
  = link_to @procurement.name.titleize, procurement_url(@procurement)
  ενημερώθηκε. Παρακαλείστε να ελέγξετε τις αλλαγές και αν χρειάζεται αναθεωρήστε την προσφορά σας.
%p
  Ευχαριστούμε,
  %br
    The E-Proc Team
