<h1>TenderNotifications#succesfull_submission</h1>

<p><%= @greeting + " " + @user.name %>,</p>

<p>  Ευχαριστούμε για την καταχώρηση της προσφοράς σας No.<%= @offer.id %> για την Προκύρηξη <%= @procurement.name %>.
</p>

<p>The E-proc team</p>