<h1>TenderNotifications#succesfull_submission</h1>

<p>
  <%= @greeting + " " + @user.name %>, 

  Thank you for submitting the tender No.<%= @offer.id %>
  for the procurement call <%= @procurement.name %>.

  The E-proc team
</p>