<h1>TenderNotifications#succesfull_submission</h1>

<p>
  <%= @greeting + " " + @user.name %>,

  Ευχαριστούμε για την καταχώρηση της προσφοράς σας No.<%= @offer.id %> για την Προκύρηξη <%= @procurement.name %>.

  The E-proc team
</p>