<h1>TenderNotifications#tender_won</h1>

<p><%= @greeting + " " + @user.name %>,</p>

<p>H προσφοράς σας No.<%= @offer.id %> για την Προκύρηξη <%= @procurement.name %> κέρδισε.
Παρακαλούμε επικοινωνήστε μαζί μας, για να προχωρήσει η διαδικασία.
</p>

<p>The E-proc team</p>
